<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Внести цитатку</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div style="text-align: center;"><h2>Цитатник</h2></div>
<!---->
<!--/*@thymesVar id="quote" type="space.yaroslav.familybot.controllers.QuoteDTO"*/-->
<form action="#" th:action="@{/quote}"  th:object="${quote}" method="post">
    <div style="text-align: center;"><p>Цитата: <input type="text" size="100" placeholder="Что пидору хорошо, то боту хорошо..." th:field="*{quote}" /></p></div>
    <div style="text-align: center;"><p>Теги: <input type="text" size="40" placeholder="Тег1, тег2, тег3" th:field="*{tags}" /></p></div>
    <div style="text-align: center;"><p><input type="submit" value="Принять" /> </p></div>
</form>
</body>
</html>