services:

  family-redis:
    networks:
      family-net:
    container_name: family-redis
    image: redis:alpine
    restart: always
    volumes:
      - redis-data:/data
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - "127.0.0.1:6379:6379"
    command:
      - "--appendonly yes"

  family-db:
    networks:
      family-net:
    image: pgvector/pgvector:pg14
    shm_size: '512mb'
    container_name: family-db
    restart: always
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./db.sql:/docker-entrypoint-initdb.d/db.sql
    environment:
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD
    ports:
      - "127.0.0.1:5432:5432"

  family-pgadmin:
    container_name: family-pgadmin
    image: dpage/pgadmin4
    networks:
      family-net:
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL
      - PGADMIN_DEFAULT_PASSWORD
    restart: always
    ports:
      - "127.0.0.1:5081:80"

  family:
    container_name: family
    networks:
      family-net:
    build:
      dockerfile: scripts/Dockerfile
      context: ..
    restart: always
    environment:
      - JDBC_URL=jdbc:postgresql://family-db:5432/${POSTGRES_DB}
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - BOT_NAME
      - BOT_TOKEN
      - BOT_OWNER_TELEGRAM_ID
      - BOT_NAME_ALIASES
      - REDIS_HOST=family-redis
      - YANDEX_API_TOKEN
      - YTDL_LOCATION
      - OPEN_AI_TOKEN
      - ENABLE_JFR
    depends_on:
      - family-db
      - family-redis
    ports:
      - "127.0.0.1:9099:9099"
      - "127.0.0.1:9098:9098"

volumes:
  redis-data:
  postgres-data:
  pgadmin-data:

networks:
  family-net:
